<div class="container experience-container">
  <h2 class="text-center mb-4">体験情報登録</h2>

  <%= render 'form', experience: @experience %>

  <div class="text-center">
    <%= link_to "戻る", experiences_path %>
  </div>
</div>