<div class="container farmer-container">
  <h2 class="text-center mb-4">プロフィール編集</h2>

  <%= render 'form', farmer: @farmer %>

  <div class="text-center">
    <%= link_to '戻る', farmer_path %>
  </div>
</div>