<div class="container">
  <h2 class="text-center mb-4">投稿詳細</h2>

  <div class="mb-3 border-bottom">
    <div class="col">
      <h4 class="mb-0"><%= @post.title %></h4>
    </div>
  </div>

  <div class="mb-3">
    <div class="col">
      <%= @post.content %>
    </div>
  </div>

  <% if @post.images.attached? %>
    <div class="mb-3">
      <% @post.images.each do |image| %>
        <%= image_tag(image, alt: "投稿画像", class: "img-fluid mb-2") %>
      <% end %>
    </div>
  <% end %>
  
  <div class="text-center">
    <%= link_to "投稿一覧へ", posts_path %>
  </div>
</div>