//  .content {
//   background-color: #f8f9fa;
//   border-radius: 5px;
//   padding: 20px;
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
// }

// navbar
.navbar {
  background-color: #006400;
}

.navbar-brand {
  color: white;
  font-size: 1.8rem;
  margin-left: 30px;
}

.navbar .nav-item {
  font-size: 1.1rem;
  margin: 0 30px;
}

.navbar .nav-link {
  color: white;
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: #3a8a40;
}

.navbar .navbar-nav {
  margin-left: auto
}

// body
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  max-width: 100%;
  margin: 0 auto;
}

// fotter
.footer {
  background-color: #006400;
  text-align: center;
}

.footer-text {
  color: white;
}

// 共通

h2 {
  font-size: 2rem;
  font-weight: 600;
}

.container {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 700px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

::placeholder {
  color: rgba(0, 0, 0, 0.35);
}

.img-fluid {
  max-width: 100%;
}
