.farmer-container {
  max-width: 1300px;
}

// farmer index.html.erb
.main-image img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  display: block;
  margin: 0 auto;
}

.card {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

// google map
#show-map-container {
  max-width: 900px;
}

#show-map {
  height: 350px;
}

// #map {
//   height: 900px;
//   width: 100%;
//   display: none;
//   max-width: 1500px;
//   margin: 0 auto;
// }
